<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="_includes/_meta :: headerFragment" th:remove="tag"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>UIP策略详情</title>

    <style type="text/css">
        body{padding: 0px}
        html,body,table{background-color:#f5f5f5;width:100%;text-align:center;}.form-signin-heading{font-family:Helvetica, Georgia, Arial, sans-serif, 黑体;font-size:36px;margin-bottom:20px;color:#0663a2;}
        .form-signin{position:relative;text-align:left;width:450px;padding:25px 29px 29px;margin:0 auto 20px;background-color:#fff;border:1px solid #e5e5e5;
            -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:0 1px 2px rgba(0,0,0,.05);box-shadow:0 1px 2px rgba(0,0,0,.05);}
        .form-signin .checkbox{margin-bottom:10px;color:#0663a2;} .form-signin .input-label{font-size:16px;line-height:23px;color:#999;}
        .form-signin .input-block-level{font-size:16px;height:auto;margin-bottom:15px;padding:7px;*width:283px;*padding-bottom:0;_padding:7px 7px 9px 7px;}
        .form-signin .btn.btn-large{font-size:16px;} .form-signin #themeSwitch{position:absolute;right:15px;bottom:10px;}
        .form-signin div.validateCode {padding-bottom:15px;} .mid{vertical-align:middle;}
        .header{height:80px;padding-top:20px;} .alert{position:relative;width:300px;margin:0 auto;*padding-bottom:0px;}
        label.error{background:none;width:270px;font-weight:normal;color:inherit;margin:0;}
    </style>
</head>
<body>
<div class="wrap" style="margin-top: 100px;">
    <form id="loginForm" class="form-signin" method="post">
    <ul class="nav nav-tabs">
        <li class="active"><a th:href="@{#}">控制首页</a></li>
        <li><a th:href="@{/toUserList}">用户管理</a></li>
    </ul>
        <!--<div class="p_title top">-->
            <!--<span class="ii">LED灯控制</span>-->
        <!--</div>-->
        <!--<div>-->
            <!--<input class="btn" type="button" onclick="flash();" value="闪烁"/>-->
        <!--</div>-->
        <!--<br/>-->

        <div class="p_title top">
            <span class="ii">用户注册</span>
        </div>
        <div>
            <input id="userName" placeholder="用户名"/>
            <input class="btn" type="button" onclick="addUser();" value="模拟注册"/>
        </div>
        <br/>
        <div class="p_title top">
            <span class="ii">用户验证</span>
        </div>
        <div>
            <input class="btn" type="button" onclick="validateUser();" value="模拟验证"/>
        </div>
        <br/>
        <div class="p_title top">
            <span class="ii">用户拍照</span>
        </div>
        <div>
            <input class="btn" type="button" onclick="takePhoto();" value="拍照"/>
        </div>
        <br/>
        <div class="p_title top">
            <span class="ii">模拟提醒</span>
        </div>
        <div>
            <input class="btn" type="button" onclick="question();" value="模拟提醒"/>
        </div>
        <br/>
        <div class="p_title top">
            <span class="ii">小车控制</span>
        </div>
        <div>
            <input class="btn" type="button" onclick="turn('L');" value="左转"/>
            <input class="btn" type="button" onclick="turn('R');" value="右转"/>
            <input class="btn" type="button" onclick="turn('F');" value="向前"/>
            <input class="btn" type="button" onclick="turn('B');" value="向后"/>
            <input class="btn" type="button" onclick="turn('S');" value="停止"/>
        </div>
        <br/>
        <div>
            <input id="trueButton" type="button" onclick="answer('1');"/>
            <input id="falseButton" type="button" onclick="answer('0');"/>
        </div>
    </form>
</div>
<script>
    //<![CDATA[
    $(function () {
        var keyDownBool = false;
        $(document).keydown(function(event){
            if(event.keyCode === 37 && !keyDownBool){ //方向左
                keyDownBool = true;
                console.info("左");
                car();
            }else if (event.keyCode === 39 && !keyDownBool){ //方向右
                keyDownBool = true;
                console.info("右");
                car();
            }else if (event.keyCode === 38 && !keyDownBool){ //方向上
                keyDownBool = true;
                console.info("上");
                car();
            }else if (event.keyCode === 40 && !keyDownBool){ //方向下
                keyDownBool = true;
                console.info("下");
                car();
            }
        });
        $(document).keyup(function (event) {
            keyDownBool = false;
            if(event.keyCode === 37 || event.keyCode === 38 || event.keyCode === 39 || event.keyCode === 40) {
                carStop();
            }
        });
    });

    function car() {
        console.info("开始======");

    }
    function carStop() {
        console.info("停止======");

    }

    function flash() {
        $.ajax({
            url: '/pisec/testGpio',
            type: 'post',
            async: true,
            data : {

            },
            dataType : 'json',
            success: function(data, status) {
                if(data.result=='success'){
                    //alert("开始")
                }
            },
            error: function(data, status){
            }
        })
    }

    function turn(distance) {
        $.ajax({
            url: '/pisec/carController',
            type: 'post',
            async: true,
            data : {
                distance:distance
            },
            dataType : 'json',
            success: function(data, status) {
                if(data.resultCode=='success'){
                    //alert("开始");
                }
            },
            error: function(data, status){
                alert("error")
            }
        })
    }

    function addUser() {
        if (!$("#userName").val()) {
            alert("用户名不能为空")
            return;
        }
        $.ajax({
            url: '/pisec/addUser',
            type: 'post',
            async: true,
            data : {
                userName: $("#userName").val()
            },
            dataType : 'json',
            success: function(data, status) {
                if(data.resultCode=='success'){
                    alert("用户注册成功");
                }
            },
            error: function(data, status){
                alert("error")
            }
        })
    }

    function editUser(){
        if (!$("#userName").val()) {
            alert("用户名不能为空")
            return;
        }

        $.ajax({
            url: '/pisec/editUser',
            type: 'post',
            async: true,
            data: {
                userName: $("#userName").val()
            },
            dataType: 'json',
            success: function (data, status) {
                if (data.resultCode == 'success') {
                    alert("用户注册成功");
                }
            },
            error: function (data, status) {
                alert("error")
            }
        });
    }

    function validateUser() {
        $.ajax({
            url: '/pisec/validateUser',
            type: 'post',
            async: true,
            data : {

            },
            dataType : 'json',
            success: function(data, status) {
                if(data.resultCode=='success'){
                    alert(data.resultMap.userName+"你好！欢迎使用智能驾驶系统！");
                }
                if(data.resultCode=='error'){
                    alert(data.resultMsg);
                }
            },
            error: function(data, status){
                alert("error")
            }
        })
    }

    function takePhoto() {
        $.ajax({
            url: '/pisec/takePhoto',
            type: 'post',
            async: true,
            data : {

            },
            dataType : 'json',
            success: function(data, status) {
                if(data.resultCode=='success'){
                    alert(data.resultMap.path);
                }
                if(data.resultCode=='error'){
                    alert(data.resultMsg);
                }
            },
            error: function(data, status){
                alert("error")
            }
        })
    }

    function question() {
        $.ajax({
            url: '/pisec/question',
            type: 'post',
            async: true,
            data : {

            },
            dataType : 'json',
            success: function(data, status) {
            },
            error: function(data, status){
                alert("error")
            }
        })
    }

    function answer(flag) {
        $.ajax({
            url: '/pisec/answer',
            type: 'post',
            async: true,
            data : {
                flag: flag
            },
            dataType : 'json',
            success: function(data, status) {
            },
            error: function(data, status){
                alert("error")
            }
        })
    }

    function toUserList() {
        $.ajax({
            url: '/pisec/toUserList',
            type: 'post',
            async: true,
            data : {
                flag: flag
            },
            dataType : 'json',
            success: function(data, status) {
            },
            error: function(data, status){
                alert("error")
            }
        })
    }

    //]]>
</script>
</body>
</html>
