<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!--<link rel="stylesheet" type="text/css" th:href="@{/static/core/bootstrap-3.3.7-dist/css/bootstrap.css}" />-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/static/core/bootstrap/2.3.1/css_cerulean/bootstrap.css}" />-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/static/core/bootstrap/2.3.1/awesome/font-awesome.min.css}" />-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/static/core/jquery-validation/1.11.0/jquery.validate.min.css}"/>-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/static/core/validation/validation.css}"/>-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/static/core/jquery-jbox-2.3/Skins/Default/jbox.css}" />-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/static/core/bootstrap/2.3.1/css_cerulean/skin.css}" />-->
    <!--<script th:inline="javascript" th:src="@{/static/core/bootstrap-3.3.7-dist/js/bootstrap.js}"></script>-->
    <script th:inline="javascript" th:src="@{/static/core/jquery/jquery-1.9.1.js}"></script>
    <script th:inline="javascript" th:src="@{/static/core/jquery/ajaxError.js}"></script>
    <script th:inline="javascript" th:src="@{/static/core/jquery/jquery-migrate-1.1.1.min.js}"></script>
    <!--<script th:inline="javascript" th:src="@{/static/core/bootstrap/2.3.1/js/bootstrap.js}"></script>-->
    <!--<script th:inline="javascript" th:src="@{/static/core/jquery-validation/1.11.0/jquery.validate.min.js}"></script>-->
    <!--<script th:inline="javascript" th:src="@{/static/core/jquery-jbox-2.3/jquery.jBox-2.3.min.js}"></script>-->
    <!--<script th:inline="javascript" th:src="@{/static/core/jquery-jbox-2.3/i18n/jquery.jBox-zh-CN.js}"></script>-->
    <!--<script th:inline="javascript" th:src="@{/static/core/biaoge/jquery.ratsGrid.js}"></script>-->
    <!--<script th:inline="javascript" th:src="@{/static/core/biaoge/jquery.ratsPagination.js}"></script>-->
    <!--<script th:inline="javascript" th:src="@{/static/core/dataGrid/js/base.js}"></script>-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/static/core/dataGrid/css/aui.datagrid.css}" />
    <script th:src="@{/static/core/dataGrid/js/AUI.js}" ></script>
    <script th:src="@{/static/core/dataGrid/js/jquery.resizable.js}"></script>
    <script th:src="@{/static/core/dataGrid/js/AUI.pagination.js}"></script>
    <script th:src="@{/static/core/dataGrid/js/AUI.datagrid.js}"></script>-->
    <!--<script th:inline="javascript" th:src="@{/static/core/validation/jquery.validation-zh_CN.js}"></script>-->
    <!--<script th:inline="javascript" th:src="@{/static/core/validation/jquery.validation.js}"></script>-->
    <script th:inline="javascript">
        /*<![CDATA[*/
        /*[+
         baseUrl  = [[@{/}]];
        var memberId = [[${session.memberId}]];
 
         +]*/
        /*]]>*/
    </script>

    <!--&lt;!&ndash;[if lt IE 9]>-->
    <!--<script th:src="@{/static/script/lib/html5shiv.min.js}"></script>-->
    <!--<script th:src="@{/static/script/lib/selectivizr.js}"></script>-->
    <!--<![endif]&ndash;&gt;-->
</head>

</html>